:root {
  --progress: 20;
  --progress-border-radius: 5px
}

.upload {
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  border: 2px dashed #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.upload:hover {
  border-color: rgb(46, 109, 227);
}

.upload.select .upload-select,
.upload.progress .upload-progress,
.upload.result .upload-result,
.upload.progress img,
.upload.result img {
  display: block;
}

.upload-select {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.upload-select.draging {
  background-color: #cedeed;
}

.upload-select input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  display: none;
}

.upload-select::before {
  content: '上传文件';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-progress {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.upload-progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  z-index: 2;
}

.progress-bar {
  height: 10px;
  background: #ccc;
  border-radius: var(--progress-border-radius);
}

.progress-bar::after {
  display: block;
  content: '';
  width: calc(var(--progress) * 1%);
  height: 100%;
  background: rgb(46, 109, 227);
  border-radius: var(--progress-border-radius);
}

.cancel {
  margin-top: 20px;
  cursor: pointer;
}

.upload-result {
  display: none;
}

.upload-result button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}


img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
}

